
HTML/.DS_Store
HTML/.project
HTML/.settings/.jsdtscope
HTML/.settings/org.eclipse.wst.common.component
HTML/.settings/org.eclipse.wst.common.project.facet.core.xml
HTML/.settings/org.eclipse.wst.jsdt.ui.superType.container
HTML/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.metadata/
/.recommenders/
