label {
	color: black;
	width: 100px;
	font-weight: bold;
	display: inline-block; border-width : 2px;
	border-color: brown;
	border-width: 2px;
	margin-left: 10px;
	
}

input {
	color: red;
	border: 1px solid red;
	margin: 10px;
	/* border-color: blue; */
	border-width: 2px;
	padding: 10px;
}
.form-group{
	border:1px solid red;
	margin-top: 50;
	border-width: 10px;
	
}
button {
	background-color: yellow;
	border-color: blue;
	margin-right: 50px;
}
